<section id="contact" class="contact-section">
    <h2 class="page-header">Current contacts</h2>
    <p class ="text-center vertical-space-20px par-ubuntu">Questions, comments and remarks can be sent to:</p>
    <div class="row equal">
        <div class="col-xs-6">
            <div class="panel panel-primary" id="contact1">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Joan Massich Vall</h3>
                </div>
                <div class="panel-body">
                    <div class="image-center"> <img src="./images/logos/le2i-logo.png" height="32"> </div>
                    <address class="text-center">
                        <strong>Laboratoire LE2I</strong><br>
                        12, Rue de la Fonderie<br>
                        71200 Le Creusot<br>
                        <abbr title="Phone">P:</abbr> (+33) 000000000<br>
                        <a href="mailto:joan_massich-vall@etu.u-bourgogne.fr">joan_massich-vall@etu.u-bourgogne.fr</a>
                    </address>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-primary" id="contact2">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Guillaume Lemaitre</h3>
                </div>
                <div class="panel-body">
                    <div class="image-center"> <img src="./images/logos/vicorob-logo.png" height="32"> </div>
                    <address class="text-center">
                        <strong>ViCOROB</strong><br>
                        Campus Montilivi, <br> Edifici P4<br>
                        17071 Girona<br>
                        <abbr title="Phone">P:</abbr> (+33) 761104782<br>
                        <a href="mailto:guillaume.lemaitre@udg.edu">guillaume.lemaitre@udg.edu</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>
